@model IEnumerable<ozhar_hasfarim.ViewModels.BookVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Books in set num @ViewBag.BooksSetId</h1>

<p>
    @Html.ActionLink(
        "Create new book",
        "Create",
        new { booksSetId = ViewBag.BooksSetId }
    )
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BooksSetId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BooksSetId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id, shelfId = ViewBag.ShelfId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })|
            </td>
        </tr>
}
    </tbody>
</table>
